body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: scroll;
  font-size: 20px;
  font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
  justify-content: center;
  align-items: center;
  color: #fcfbfb;
  background-color: #333434;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  width: 1200px;
}

.navbar .nav-title {
  font-weight: 700;
  color: #448899;
  font-size: 30px;
}

.navbar a {
  text-decoration: none;
}

.nav-item-container .nav-item {
  font-weight: 500;
  font-size: 16px;
}

.nav-item-container {
  display: flex;
  align-items: center;
}

/* ! modal */
.modal-content {
  background-color: #333434;
}
.custom-raw-popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 20;
}

.popup-content {
  background-color: #575758;
  margin: 15% auto;
  margin-top: 80px;
  padding: 0;
  width: 340px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

#loginPopup .popup-content {
  min-height: 275px;
  max-height: 80vh;
  /* Limit the maximum height to 80% of viewport height */
  overflow-y: auto;
  /* Enable vertical scrolling if content exceeds max-height */
}

#registerPopup .popup-content {
  min-height: 275px;
  max-height: 80vh;
  overflow-y: auto;
}

.popup-decorate {
  width: 100%;
  height: 10px;
  border-radius: 6px 6px 0 0;
  margin-bottom: 10px;
  background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
  color: white;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
}

.popup-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* Needed for absolute positioning of the close icon */
  width: 95%;

}


.close {
  color: #aaa;
  float: right;
  font-size: 30px;
  font-weight: 200;
  margin-left: 30px;
  position: absolute;
  right: 10px;
  /* Adjust distance from the right edge */
  top: 50%;
  /* Center vertically */
  transform: translateY(-50%);
  /* Fine-tune vertical centering */
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#to-booking-btn,
#booking-delete-btn,
#login-popup-btn:hover,
#register-popup-btn:hover,
#login-register-btn,
#logout-btn,
.close:hover,
button {
  cursor: pointer;
}

.custom-raw-popup h2 {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  margin: 20px 0 10px 0;
  text-align: center;
}

.form-group {
  width: 100%;
  margin-bottom: 10px;
  /* Add spacing between form groups */
}

.custom-raw-popup input,
.custom-raw-popup button {
  width: 310px;
  height: 47px;
  box-sizing: border-box;
}

.custom-raw-popup input {
  border: 0.5px solid rgb(216, 216, 214);
  border-radius: 5px;
  font-size: 16px;
  padding-left: 10px;
}

.custom-raw-popup input:focus {
  border-color: #3f4040;
}

.custom-raw-popup button {
  font-size: 19px;
}

.section-wrap {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    width: 1200px;
}

.section-container {
  display:flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.section-item {
  width:200px;
  height:80px;
}

.modules-container {
  width: 350px;
    height: 150px;
}

.module-item {
  width: 400px;
  height: 200px;
  background-color: #4b4b4b;
}

.add-module-btn-container {
  display: flex;
    flex-direction: row;
}

.add-module-btn {
  width: 350px;
  height: 60px;
  background-color: #8c8a8a;
  z-index: 10
}

.module-editing {
  width: 1000px;
    height: 300px;
    background-color: #fad12d;
}

.exercise-item-detail {
  color: #909090;
  font-size: 22px;
}

/* !calendar */
#calendar {
  width: 80%;
}

.week-container {
  display: flex;
    flex-direction: row;
    column-gap: 15px;
}

.week-item {
  
  width: 80px;
    height: 80px;
    background-color: #19b7d0;
}

.card-body {
  background-color: #3f4040;
}

.before-footer {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 350px;
}

.footer {
  width: 100%;
  background-color: #757575;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 104px;
}

.footer .footer-text {
  color: #ddd;
}

