body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: scroll;
  font-size: 20px;
  font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
  justify-content: center;
  align-items: center;
  color: #fcfbfb;
  background-color: #333434;
}

#submit-menu {
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 25px;
}

/* .alert-container {
  position: relative;
} */

.alert {
  width: 500px;
  height: 200px;
  position: fixed;
  /* position: absolute; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: flex;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  text-align: center;

}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}


.homepage-link {
  text-decoration: none;
  font-size: 30px;
  font-weight: 700;
}

/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  width: 90vw;
}

.navbar .nav-title {
  font-weight: 1000;
  color: rgb(247, 211, 82);
  font-size: 30px;
}

.navbar a {
  text-decoration: none;
}

.nav-item-container .nav-item {
  font-size: 16px;
}

.nav-item-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 320px;
}

.nav-item-container a {
  font-weight: 400;
  color: #ddd
}

.nav-separator hr {
  margin: 10px;
}

/* ! modal */
.modal-content {
  background-color: #333434;
}

.custom-raw-popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 20;
}

.popup-content {
  background-color: #575758;
  margin: 15% auto;
  margin-top: 80px;
  padding: 0;
  width: 340px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  position: relative;
}

#loginPopup .popup-content {
  min-height: 275px;
  max-height: 80vh;
  /* Limit the maximum height to 80% of viewport height */
  overflow-y: auto;
  /* Enable vertical scrolling if content exceeds max-height */
}

#registerPopup .popup-content {
  min-height: 275px;
  max-height: 80vh;
  overflow-y: auto;
}

#register-popup-btn,
#login-popup-btn {
  font-size: 20px;
  margin-bottom: 10px;
  border-bottom: 2px solid;
  border-color: currentColor;
  text-align: center;
}

.popup-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 95%;

}

.close {
  color: #aaa;
  float: right;
  font-size: 30px;
  font-weight: 200;
  margin-left: 30px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#login-popup-btn:hover,
#register-popup-btn:hover,
#login-register-btn,
#logout-btn,
.close:hover,
button {
  cursor: pointer;
}

.custom-raw-popup h2 {
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  margin: 20px 0 10px 0;
  text-align: center;
}

.form-group {
  width: 100%;
  margin-bottom: 10px;
  /* Add spacing between form groups */
}

.custom-raw-popup input,
.custom-raw-popup button {
  width: 310px;
  height: 47px;
  box-sizing: border-box;
}

.custom-raw-popup input {
  border: 0.5px solid rgb(216, 216, 214);
  border-radius: 5px;
  font-size: 16px;
  padding-left: 10px;
}

.custom-raw-popup input:focus {
  border-color: #3f4040;
}

.custom-raw-popup button {
  font-size: 19px;
}

/* ! welcome */

.welcome {
  width: 90vw;
  margin-right: auto;
  margin-left: auto;
  /* margin-bottom: 20px; */
}

.welcome-wrap-training {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  margin-right: auto;
  margin-left: auto;
}

.make-log {
  width: 350px;
  height: 50px;
}

.welcome.btn {
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;

}

#startButtonContainer button,
.welcome.btn button {
  font-size: 25px;
  width: 90vw;
  height: 70px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.welcome.btn div {
  font-size: large;
  color: #f2efee;
  text-align: left;
}


/* ! img section */
.row {
  display: flex;
  justify-content: center;
}

.section-img-container {
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.row.section-img {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 350px 350px;
  grid-auto-rows: 1fr;
  gap: 15px;
}

.row-span-2 {
  grid-row: span 2;

}

.col-md-3 {
  width: calc(90vw/4);
  height: 100%;
  overflow: hidden;
  padding: 0;
}

.section-card {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
  border: 2px solid #ddd;
  border-radius: 15px;
  position: relative;

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.section-name.section-card-item {
  margin-left: 20px;
  opacity: 1;
  z-index: 1;
  position: relative;
  font-size: 40px;

}

.h-100 {
  width: calc(90vw/4);
}

.mb-2 {
  margin-bottom: 0.5rem;
}

/* ! module section  */
.section-wrap {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  width: 90vw;

}

.section-container {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.section-item {
  height: 80px;
}

.module-wrap {
  margin-top: 20px;
  max-width: 450px;
}

.module-item {
  width: 100%;
  height: 200px;
  background-color: #4b4b4b;
}

.exercise-details {
  height: 25px;
  font-size: 13px;
  flex-direction: row;
  font-weight: 200;
}

.exercise-details input {
  height: 20px;
}

.list-group-item {
  padding: 5px;
  height: 55px;
  font-size: 15px;
}

.btn-danger {
  font-size: 13px;
  padding: 2px;
}

.add-module-btn-container {
  display: flex;
  flex-direction: row;
}

.add-module-btn {
  width: 350px;
  height: 60px;
  background-color: #8c8a8a;
  z-index: 10
}

.module-editing {
  background-color: #fad12d;
}

.part-module-wrap {
  width: 28vw;
  background-color: #fad12d;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 400px;
  height: auto;
  background-color: #f8f9fa;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  z-index: 1000;
  transform: translateX(0);
}

/* Collapsed state: panel hidden on the right with only an index visible */
.part-module-wrap.collapsed {
  transform: translateX(100%);
}

/* Index button visible on the left side of the collapsed panel */
.part-module-wrap .collapse-btn {
  position: absolute;
  left: -48px;
  /* Position it outside the panel when collapsed */
  top: 10%;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: #5a5c5f;
  color: rgb(255, 255, 255);
  padding: 5px 10px;
  border-radius: 3px;
  z-index: 1001;
}

.part-menu-section-item {
  background-color: #575758;
}

.exercise-item-detail {
  color: #909090;
  font-size: 22px;
}

/* !exercise in module */
.module-exercise-name {
  display: flex;
  justify-content: space-between;
  height: 25px;
}

.exercise-details {
  display: flex;
  align-items: center;
  gap: 3px;
}

.exercise-details .form-control {
  width: 45px;
  margin-right: 5px;
  padding: 2px;
}

.exercise-details .delete-menu-item {
  margin-left: auto;
}

.edit-menu-module {
  width: 100px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  width: 50px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #67a0f6;
  border: none;
}

.menu-module-item {
  display: flex;
  flex-direction: column;
}

#postForm {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 100%;
}

#captionInput {
  height: 500px;
}

#note {
  border: none;
}

/* !calendar */
.calendar-container {
  width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

#calendar {
  width: 48vw;
  height: auto;
  margin-bottom: 20px;
}

.fc-toolbar-chunk
button {
  height: 25px;
  justify-content:first baseline;
}

#fc-dom-1 {
  font-size: 20px;
}

.week-container {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}

.week-item {

  width: 80px;
  height: 80px;
  background-color: #19b7d0;
}

.card-body {
  background-color: #403f3f;
}

#exerciseModal div {
  font-size: 13px;
}

h4.card-title {
  font-size: 15px;
}

.card.exercise {
  height: 300px;
}

.card.exercise img {
  width: 100%;
  height: auto;
  object-fit: cover;
  overflow: hidden;
}

#exerciseModal .modal-dialog {
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

#exerciseModal .modal-content {
  width: 1050px;

}

#exerciseModal .exercise-images {
  width: 500px;
  max-height: 60vh;

  display: flex;
  flex-direction: row;
  gap: 10px;
}


/* ! exercises part page */
.parts-placeholder {
  height: 0;
  display: flex;
  gap: 20px;
  /* Start with no height */
}

.parts-container {
  position: sticky;
  top: 60px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 5px;
  margin-bottom: 20px;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: #333434;

}

/* Adjust the height of the placeholder to match the original height of .parts-container */
.parts-placeholder {
  height: 0px;
}

.part-item {
  font-size: 20px;
}


/* !training section */
.section-card {
  position: relative;
}

.section-checkbox {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 1em;
  /* Control the size of the checkbox */
  height: 1em;
  transform: scale(2);
  cursor: pointer;
}

.section-checkbox:checked {
  background-color: rgb(247, 211, 82);
  /* Background color when checked */
  border-color: rgb(247, 211, 82);
  opacity: 1;
  /* z-index: 1; */
}

/* ! menu */

.menu-wrapper {
  display: flex;
    flex-direction: column;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    padding: 15px;
    background-color: #909090;
    border-radius: 10px;
}

.menu-wrapper
.schedule-name
span {
  background-color: #757575;
  border:none ;
  width: 10vw;
  
}
.menu-wrapper 
.schedule-name 
.input-group-text {
  font-size: 20px;
  font-weight: 500;
  color: #fefefe;
}


.menu {
  display: flex;
    flex-direction: row;
}

.menu-upload {
  background-color: #bfbfbf;
  width: 98%;
    margin-top: 20px;
    margin-left: auto;
}

.menu-module-form-container {
  display: flex;
  flex-direction: row;
}

.menu-module-container {
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.menu-wrapper .menu-module-container {
  display: flex;
    flex-direction: column;
    width: 40vw;
    margin-left: 0;
    margin-right: 0;
}

.menu-section-item {
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  display: flex;
  align-items: center;
  /* Vertically center the content */
  background-color: #757575;
  padding: 5px;
  font-size: 18px;
}

.list-group-item {
  background-color: rgb(247, 211, 82);
}

.module-editing.list-group {
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

/* ! post */
.post-wrapper {
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 15px;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
    flex-direction: column;
    border-radius: 15px;
}

.post {
  display: flex;
    flex-direction: row;
}

.post
.schedule-name {
  width: 100%;
}

.post .module-wrap {
  margin-top: 0;
  width: 25vw;
}

.post
.list-group {
  margin-top: 0;
  border-radius: 10px;
}

.content {
  font-size: 16px;
  margin-bottom: 5px;
}

.schedule-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.content {
  font-size: 16px;
  margin-bottom: 5px;
}

.schedule-name {
  font-weight: bold;
  margin-bottom: 5px;
}

video {
  margin-left: 15px;
  margin-right: 15px;
  width: 35vw;
  border-radius: 10px;
} */

.video-preview {
  width: 100%;
  cursor: pointer;
}

.video-player {
  width: 100%;
  max-height: 300px;
}


/* ! footer */
.before-footer {
  width: 100%;
  background-color: #333434;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 350px;
}

.footer {
  width: 100%;
  background-color: #757575;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 104px;
}

.footer .footer-text {
  color: #ddd;
}